
}
header {
	background: #F8F8FF
}

nav li {
	display: inline;
	margin: 0 0 0 30px
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	color: #00FF7F;
}

footer {
	text-align: center;
	background: url("bg.JPG");
	padding: 30px 0;

}

.Copyright {
	font-size: 15px;
	margin: 20px 0 0;


