body {
	background: #F8F8FF
}

h1 {
	text-align: center;
} 

.titulo-importante {
	  padding-left: 50px;
	  
}

.título-centralizado {
	text-align: center;
	padding-left: 20px;
	
}

#imagem {
       width: 100%;
}

h2 {
	text-align: center;
	background: #00FF7F
}

h3 {
	text-align: center;
	background: #00FF7F
}

h4 {
	text-align: center;
	background: #00FF7F
}

p {
   text-align: center;
   padding-left: 10px;
   padding: 0 20px;
}

.missao {
	font-size: 25px
	font-size: bold;
}

strong {
	color: ;
}

.itens {
	font-style: italic;
}


footer {
	text-align: center;
	background: url("bg.JPG");
	padding: 30px 0;
}

#arvore {
	width: 100%;
}

header {
	background: #F8F8FF
}

nav li {
	display: inline;
	margin: 0 0 0 30px
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	color: #00FF7F;
}

/* css da página inicial*/
.banner {
 	  width: 100%;

}